{
	"openapi": "3.0.1",
	"info": {
		"title": "Whop API",
		"version": "0.1.1"
	},
	"servers": [
		{
			"url": "https://api.whop.com/api"
		}
	],
	"tags": [
		{
			"name": "OAuth",
			"description": "Operations about OAuths"
		},
		{
			"name": "Products",
			"description": "Operations about Products"
		},
		{
			"name": "Plans",
			"description": "Operations about Plans"
		},
		{
			"name": "Memberships",
			"description": "Operations about Memberships"
		},
		{
			"name": "Companies",
			"description": "Operations about Companies"
		},
		{
			"name": "Experiences",
			"description": "Operations about Experiences"
		},
		{
			"name": "Payments",
			"description": "Operations about Payments"
		},
		{
			"name": "Payment Fees",
			"description": "Operations about Payment Fees"
		},
		{
			"name": "Checkout Sessions",
			"description": "Operations about Checkout Sessions"
		},
		{
			"name": "Members",
			"description": "Operations about Members"
		},
		{
			"name": "Customers",
			"description": "Operations about Customers"
		},
		{
			"name": "Promo Codes",
			"description": "Operations about Promo Codes"
		},
		{
			"name": "Webhooks",
			"description": "Operations about Webhooks"
		},
		{
			"name": "Reviews",
			"description": "Operations about Reviews"
		}
	],
	"paths": {
		"/v2/oauth/company": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve Company",
				"description": "Retrieves the company object that is selling the software. For example, if the company is \"Larry's Newsletters\" and your software is a newsletter software, you can use this endpoint to pull attributes like company image, company description, etc from Larry's Newsletters.",
				"operationId": "oauth_company_retrieve",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve Company",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Company"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/company/products": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve Company Products",
				"description": "Retrieves a list of product objects from the company using your software",
				"operationId": "oauth_company_products",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "visibility",
						"in": "query",
						"description": "The visibility of the Product",
						"schema": {
							"type": "string",
							"enum": ["visible", "hidden", "archived", "quick_link"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve Company Products",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Product"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/company/products/{id}": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve a Product",
				"description": "Returns a specific Product, using its unique ID.",
				"operationId": "oauth_retrieve_product",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Product, which will look like `prod_*************` or `pass_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Product",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Product"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/company/plans/{id}": {
			"post": {
				"tags": ["OAuth"],
				"summary": "Update a plan using an experience access token",
				"description": "Update a plan using an experience access token",
				"operationId": "oauth_update_company_plan",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Plan, which will look like `plan_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/oauth_update_company_plan"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a plan using an experience access token",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Plan"
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "oauth_update_company_plan"
			}
		},
		"/v2/oauth/user/memberships": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve User Memberships",
				"description": "Retrieve memberships possessed by the currently authenticated user as it relates to the company selling access to the specific software.",
				"operationId": "oauth_user_memberships",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "valid",
						"in": "query",
						"description": "Whether or not the Membership has a valid status",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve User Memberships",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Membership"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/user/experiences": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve User Experiences",
				"description": "Retrieves a list of experience objects that the authenticated user has access to.",
				"operationId": "oauth_user_experiences",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve User Experiences",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Experience"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/user": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve User",
				"description": "Retrieves the user object that for the authenticated user.",
				"operationId": "oauth_user",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve User",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/info": {
			"get": {
				"tags": ["OAuth"],
				"summary": "Retrieve Info",
				"description": "Retrieve the company object, user object, and experiences objects that are available to the user. This endpoint is useful for gathering data about the customer using your software and the company selling your software.",
				"operationId": "oauth_info",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "A user's access token, which must be retrieved from the Whop OAuth2 authentication flow. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve Info",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"user": {
											"$ref": "#/components/schemas/User"
										},
										"company": {
											"$ref": "#/components/schemas/Company"
										},
										"experiences": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Experience"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/oauth/token": {
			"post": {
				"tags": ["OAuth"],
				"summary": "Obtain a user's access token",
				"description": "This is how you obtain an access token for a user. In the OAuth flow, your backend will receive a one time use \"code\" parameter. You will then exchange the code you received for a long lived access token by calling this endpoint.",
				"operationId": "oauth_token",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/oauth_token"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "Obtain a user's access token",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/OauthToken"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "oauth_token"
			}
		},
		"/v2/products/{id}": {
			"get": {
				"tags": ["Products"],
				"summary": "Retrieve a Product",
				"description": "Returns a specific Product, using its unique ID.",
				"operationId": "retrieve_product",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Product, which will look like `prod_*************` or `pass_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Experiences and Plans on the returned Product(s). Pass an array with each object(s) you want to expand, e.g. `[experiences, plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["experiences", "plans"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Product",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Product"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Products"],
				"summary": "Update a Product",
				"description": "Update a Product's attributes, using its unique ID. Keep in mind, any changes made to the pass will be reflected on the User's account.",
				"operationId": "update_product",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Product, which will look like `prod_*************` or `pass_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Experiences and Plans on the returned Product(s). Pass an array with each object(s) you want to expand, e.g. `[experiences, plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["experiences", "plans"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_product"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a Product",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Product"
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"error": {
										"code": 400,
										"message": "Parameter :example is invalid. Please ensure you are passing the correct type for this parameter."
									}
								}
							}
						}
					},
					"401": {
						"description": "Unauthorized (Credentials missing/incorrect/expired)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"error": {
										"code": 401,
										"message": "Unauthorized"
									}
								}
							}
						}
					},
					"403": {
						"description": "Forbidden (Credentials not permitted to access the specified resource)",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"error": {
										"code": 403,
										"message": "Forbidden"
									}
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"error": {
										"code": 404,
										"message": "No such Resource found with the provided ID: xxx_123"
									}
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Error"
								},
								"example": {
									"error": {
										"code": 500,
										"message": "Uh oh, something went wrong. This is something we need to fix, and isn't on your end. We've been notified and are working on a fix"
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_product"
			}
		},
		"/v2/products": {
			"get": {
				"tags": ["Products"],
				"summary": "List Products",
				"description": "Returns a collection of Products, based on the supplied filters.",
				"operationId": "list_products",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "visibility",
						"in": "query",
						"description": "The visibility of the Product",
						"schema": {
							"type": "string",
							"enum": ["visible", "hidden", "archived", "quick_link"]
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Experiences and Plans on the returned Product(s). Pass an array with each object(s) you want to expand, e.g. `[experiences, plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["experiences", "plans"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Products",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Product"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/plans/{id}": {
			"get": {
				"tags": ["Plans"],
				"summary": "Retrieve a Plan",
				"description": "Returns a specific Plan, using its unique ID. Plans represent a pricing and release method configuration used to purchase a Product.",
				"operationId": "retrieve_plan",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Plan, which will look like `plan_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Product on the returned Plan(s). Pass an array with each object(s) you want to expand, e.g. `[product]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Plan",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Plan"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Plans"],
				"summary": "Update a Plan",
				"description": "Updates a plans information/options",
				"operationId": "update_plan",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Plan, which will look like `plan_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_plan"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a Plan",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/Plan"
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_plan"
			}
		},
		"/v2/plans/{mimic_plan_id}/create_quick_link": {
			"post": {
				"tags": ["Plans"],
				"summary": "Create a quick link",
				"description": "Create a quick link (or release link) for a plan. This will copy over all data from an existing plan and make a new plan with the same data that can be used as a one-time release link. You can change the stock and metadata on the new plan.",
				"operationId": "create_quick_link",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "mimic_plan_id",
						"in": "path",
						"description": "The ID of a plan you want to copy the data from, which will look like `plan_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Product on the returned Plan(s). Pass an array with each object(s) you want to expand, e.g. `[product]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/create_quick_link"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Create a quick link for a plan",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Plan"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "create_quick_link"
			}
		},
		"/v2/plans": {
			"get": {
				"tags": ["Plans"],
				"summary": "List Plans",
				"description": "Returns a collection of Plans, based on the supplied filters. Plans represent a pricing and release method configuration used to purchase a Product.",
				"operationId": "list_plans",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "visibility",
						"in": "query",
						"description": "The level of visibility of the Plan",
						"schema": {
							"type": "string",
							"enum": ["visible", "hidden", "archived", "quick_link"]
						}
					},
					{
						"name": "access_pass_id",
						"in": "query",
						"description": "Access Pass has been deprecated for Product. Please use product instead and do not use access_pass.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The Plan's Product ID, which will look like `prod_*************` or `pass_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Product on the returned Plan(s). Pass an array with each object(s) you want to expand, e.g. `[product]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Plans",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Plan"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Plans"],
				"summary": "Create a plan",
				"description": "Create a plan",
				"operationId": "create_plan",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Product on the returned Plan(s). Pass an array with each object(s) you want to expand, e.g. `[product]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/create_plan"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Create a plan",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Plan"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "create_plan"
			}
		},
		"/v2/memberships/{id}/validate_license": {
			"post": {
				"tags": ["Memberships"],
				"summary": "Validate a License Key",
				"description": "Validate an instance of your software by sending metadata about the user. For example, by sending metadata containing the HWID of the device most recently logged in, you can ensure an instance of your software is only being used on one device at a time.",
				"operationId": "validate_license",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`, or the license key of the membership.",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/validate_license"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Validate a membership's license key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "validate_license"
			}
		},
		"/v2/memberships/{id}": {
			"get": {
				"tags": ["Memberships"],
				"summary": "Retrieve a Membership",
				"description": "Returns a specific Membership, using its unique ID. A Membership represents an instance of a User purchasing a Product.",
				"operationId": "retrieve_membership",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`, or the license key of the membership.",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Membership",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Memberships"],
				"summary": "Update a Membership",
				"description": "Use the update license endpoint to add metadata like hwid to an instance of the License.",
				"operationId": "update_membership",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_membership"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a Membership",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_membership"
			}
		},
		"/v2/memberships/{id}/cancel": {
			"post": {
				"tags": ["Memberships"],
				"summary": "Cancel a Membership",
				"description": "Cancels a specific Membership, using its unique ID. It will set the Membership to cancel at period end.",
				"operationId": "cancel_membership",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Cancel a Membership",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/memberships/{id}/terminate": {
			"post": {
				"tags": ["Memberships"],
				"summary": "Terminate a Membership",
				"description": "Terminates a specific Membership, using its unique ID. It will immediately invalidate the Membership, and the User will/should have their Product's Experiences unfulfilled. Termination is irreversible, so a User will have to re-purchase if they wish to continue their access.",
				"operationId": "terminate_membership",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"201": {
						"description": "Terminate a Membership",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/memberships/{id}/add_free_days": {
			"post": {
				"tags": ["Memberships"],
				"summary": "Add Free Days to a Membership",
				"description": "Extend a Membership's next renewal date or expiration date by a specified number of days. Once the Membership's updated renewal/expiration date has been reached, it will renew or expire as normal.",
				"operationId": "add_free_days_membership",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Membership, which will look like `mem_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/add_free_days_membership"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Add Free Days",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Membership"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "add_free_days_membership"
			}
		},
		"/v2/memberships": {
			"get": {
				"tags": ["Memberships"],
				"summary": "List Memberships",
				"description": "Returns a collection of Memberships, based on the supplied filters. If a Membership is valid, the User has/should have access to the Experiences associated with the Product. If a Membership is invalid, the User will/should have their Product's Experiences unfulfilled. By default, results are returned 10 objects at a time.",
				"operationId": "list_memberships",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "The status of the Membership",
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"trialing",
								"past_due",
								"completed",
								"unresolved",
								"canceled",
								"expired"
							]
						}
					},
					{
						"name": "plan_id",
						"in": "query",
						"description": "The ID of the Plan attached to this Membership, which will look like `plan_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "access_pass_id",
						"in": "query",
						"description": "Access Pass has been deprecated for Product. Please use product instead and do not use access_pass.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The ID of the Product attached to this Membership, which will look like `prod_*************` or `pass_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the User that owns this Membership, which will look like `user_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "discord_id",
						"in": "query",
						"description": "The ID of the Discord account attached to this Membership",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "wallet_address",
						"in": "query",
						"description": "The crypto wallet address used to pay for the Membership (if paid through the one-time ETH or renewal WETH Whop contracts)",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "valid",
						"in": "query",
						"description": "Whether or not the Membership has a valid status",
						"schema": {
							"type": "boolean"
						}
					},
					{
						"name": "hide_metadata",
						"in": "query",
						"description": "Whether or not to hide the metadata returned on responses. Passing true will hide the metadata, default value is false.",
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "direction",
						"in": "query",
						"description": "The direction to order the results by. Either 'desc' or 'asc'. Default is 'desc'.",
						"schema": {
							"type": "string",
							"default": "desc",
							"enum": ["asc", "desc"]
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Plan, Product, or Promo Code on the returned Membership(s). Pass an array with each object(s) you want to expand, e.g. `[product, plan, user, promo_code]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user", "plan", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Memberships",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Membership"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/company": {
			"get": {
				"tags": ["Companies"],
				"summary": "Retrieve a Company",
				"description": "Returns the Company that is attached the the API key.",
				"operationId": "retrieve_company",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Company",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Company"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/experiences/{id}": {
			"get": {
				"tags": ["Experiences"],
				"summary": "Retrieve an Experience",
				"description": "Returns a specific Experience, using its unique ID. Experiences represent what the customer receives or unlocks when they purchase a Membership.",
				"operationId": "retrieve_experience",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Experience, which will look like `exp_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Products on the returned Experience(s). Pass an array with each object(s) you want to expand, e.g. `[products]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve an Experience",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Experience"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Experiences"],
				"summary": "Update an Experience",
				"description": "Returns a specific Experience, using its unique ID. Experiences represent what the customer receives or unlocks when they purchase a Membership.",
				"operationId": "update_experience",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Experience, which will look like `exp_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Products on the returned Experience(s). Pass an array with each object(s) you want to expand, e.g. `[products]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_experience"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update an Experience",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Experience"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_experience"
			},
			"delete": {
				"tags": ["Experiences"],
				"summary": "Delete an Experience",
				"description": "Returns a specific Experience, using its unique ID. Experiences represent what the customer receives or unlocks when they purchase a Membership.",
				"operationId": "delete_experience",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Experience, which will look like `exp_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Successfully deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Experience"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/experiences": {
			"get": {
				"tags": ["Experiences"],
				"summary": "List Experiences",
				"description": "Returns a collection of Experiences, based on the supplied filters. Experiences represent what the customer receives or unlocks when they purchase an Product. By default, results are returned 10 objects at a time",
				"operationId": "list_experiences",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "experience_type",
						"in": "query",
						"description": "The type of Experience",
						"schema": {
							"type": "string",
							"enum": ["has_interface"]
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Products on the returned Experience(s). Pass an array with each object(s) you want to expand, e.g. `[products]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Experiences",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Experience"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/payments/{id}": {
			"get": {
				"tags": ["Payments"],
				"summary": "Retrieve a Payment",
				"description": "Returns a specific Payment, using its unique ID. Only Payments with a status of paid have been successfully processed.",
				"operationId": "retrieve_payment",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Payment, which will look like `pay_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Membership, Plan, or Product on the returned Payment. Pass an array with each object(s) you want to expand, e.g. `[product, plan, membership, user]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "membership", "plan", "user"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Payment",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Payment"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/payments": {
			"get": {
				"tags": ["Payments"],
				"summary": "List Payments",
				"description": "Returns a collection of Payments, based on the supplied filters. Only Payments with a status of paid have been successfully processed.",
				"operationId": "list_payments",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "The status of the Payment",
						"schema": {
							"type": "string",
							"enum": ["draft", "open", "paid", "uncollectible", "void"]
						}
					},
					{
						"name": "membership_id",
						"in": "query",
						"description": "The Membership this Payment part of. By default this will just be the ID of the Membership, but you can expand it to get more information about the Membership by passing `[membership]` in the `expand` parameter.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "checkout_session_id",
						"in": "query",
						"description": "The ID of the Checkout Session that was used to make the Payment, if any.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User, Membership, Plan, or Product on the returned Payment. Pass an array with each object(s) you want to expand, e.g. `[product, plan, membership, user]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "membership", "plan", "user"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Payments",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Payment"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/payments/{receipt_id}/refund": {
			"post": {
				"tags": ["Payments"],
				"summary": "Refund a payment",
				"description": "Refund a specific Payment, using its unique ID. Refunds are irreversible, so be careful when issuing them.",
				"operationId": "refund_payment",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "receipt_id",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer",
							"format": "int32"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/refund_payment"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Refund a payment",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Payment"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "refund_payment"
			}
		},
		"/v2/payment_fees": {
			"get": {
				"tags": ["Payment Fees"],
				"summary": "List Payment Fees",
				"description": "Returns a collection of Payment Fees for a given payment.",
				"operationId": "list_payment_fees",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "payment_id",
						"in": "query",
						"description": "The ID of the Payment, which will look like `pay_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Payment Fees",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/PaymentFee"
											}
										},
										"fees_sum": {
											"type": "number",
											"format": "float"
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/checkout_sessions/{id}": {
			"get": {
				"tags": ["Checkout Sessions"],
				"summary": "Retrieve a Checkout Session",
				"description": "Returns a collection of Checkout Sessions, based on the supplied filters. By default, results are returned 10 objects at a time.",
				"operationId": "retrieve_checkout_session",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the session, which will look like `ch_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Checkout Session",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutSession"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"delete": {
				"tags": ["Checkout Sessions"],
				"summary": "Delete a Checkout Session",
				"description": "Deletes a specific Checkout Session, using its unique ID.",
				"operationId": "delete_checkout_session",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the session, which will look like `ch_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Successfully deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutSession"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/checkout_sessions": {
			"get": {
				"tags": ["Checkout Sessions"],
				"summary": "List Checkout Sessions",
				"description": "Returns a collection of Checkout Sessions, based on the supplied filters. By default, results are returned 10 objects at a time.",
				"operationId": "list_checkout_sessions",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "plan_id",
						"in": "query",
						"description": "The ID of the plan that the checkout session is associated with, which will look like `plan_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Checkout Sessions",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/CheckoutSession"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Checkout Sessions"],
				"summary": "Create a Checkout Session",
				"description": "Creates a new Checkout Session. A Checkout Session allows specific data to be attached to a Membership upon purchase and customization of the checkout experience.",
				"operationId": "create_checkout_session",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/create_checkout_session"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Create a Checkout Session",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CheckoutSession"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "create_checkout_session"
			}
		},
		"/v2/members/{search}": {
			"get": {
				"tags": ["Members"],
				"summary": "Retrieve Member",
				"description": "Retrieves a member",
				"operationId": "retrieve_member",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "search",
						"in": "path",
						"description": "Any identifier that can be used to represent a User. This can be a Whop account ID, Discord account ID, or email address",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve Member",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/members": {
			"get": {
				"tags": ["Members"],
				"summary": "List Members",
				"description": "Returns a list of all your members. Members are users who have a currently active membership.",
				"operationId": "list_members",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Members",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/User"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/customers/{search}": {
			"get": {
				"tags": ["Customers"],
				"summary": "Retrieve Customer",
				"description": "Retrieves a member",
				"operationId": "retrieve_customer",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "search",
						"in": "path",
						"description": "Any identifier that can be used to represent a User. This can be a Whop account ID, Discord account ID, or email address",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve Customer",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/User"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/customers": {
			"get": {
				"tags": ["Customers"],
				"summary": "List Customers",
				"description": "Returns a list of all your members. Members are users who have a currently active membership.",
				"operationId": "list_customers",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Customers",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/User"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/promo_codes/{id}": {
			"get": {
				"tags": ["Promo Codes"],
				"summary": "Retrieve a promo code",
				"description": "Retrieve a promo code",
				"operationId": "retrieve_promo_code",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Promo Code, which will look like `promo_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Plans on the returned Promo Code(s). Pass an array with each object(s) you want to expand, e.g. `[plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["plans", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a promo code",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PromoCode"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Promo Codes"],
				"summary": "Update a promo code",
				"description": "Update a promo code's applicable plans",
				"operationId": "update_promo_code",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Promo Code, which will look like `promo_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Plans on the returned Promo Code(s). Pass an array with each object(s) you want to expand, e.g. `[plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["plans", "promo_code"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_promo_code"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a promo code",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PromoCode"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_promo_code"
			},
			"delete": {
				"tags": ["Promo Codes"],
				"summary": "Delete a promo code",
				"description": "Delete a promo code. You can only delete a promo code that has not been used yet. We recommend using the update endpoint and setting its status to 'archived' over this.",
				"operationId": "delete_promo_code",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Promo Code, which will look like `promo_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Successfully deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PromoCode"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/promo_codes": {
			"get": {
				"tags": ["Promo Codes"],
				"summary": "List Promo Codes",
				"description": "List all promo codes.",
				"operationId": "list_promo_codes",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "status",
						"in": "query",
						"description": "Indicates if the Promo Code is live, disabled, or archived.",
						"schema": {
							"type": "string",
							"enum": ["active", "inactive", "archived"]
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Plans on the returned Promo Code(s). Pass an array with each object(s) you want to expand, e.g. `[plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["plans", "promo_code"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Promo Codes",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/PromoCode"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Promo Codes"],
				"summary": "Create a promo code",
				"description": "Creates a new promo code with the given parameters. A promo code can offer a discount or a free period for a specific set of plans or for all plans in your company.",
				"operationId": "create_promo_code",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the Plans on the returned Promo Code(s). Pass an array with each object(s) you want to expand, e.g. `[plans]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["plans", "promo_code"]
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/create_promo_code"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Creates a promo code",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PromoCode"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "create_promo_code"
			}
		},
		"/v2/webhooks/{id}": {
			"get": {
				"tags": ["Webhooks"],
				"summary": "Retrieve a Webhook",
				"description": "Retrieve a specific Webhook URL",
				"operationId": "retrieve_webhook",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Webhook URL to search by, which will look like `hook_*************`, or the URL of the Webhook (e.g. https://website.com/api/whop-webhook)",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a Webhook",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Webhook"
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Webhooks"],
				"summary": "Update a Webhook",
				"description": "Retrieve a specific Webhook URL",
				"operationId": "update_webhook",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Webhook URL to search by, which will look like `hook_*************`, or the URL of the Webhook (e.g. https://website.com/api/whop-webhook)",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/update_webhook"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Update a Webhook",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Webhook"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "update_webhook"
			},
			"delete": {
				"tags": ["Webhooks"],
				"summary": "Delete a Webhook",
				"description": "Delete a specific Webhook URL",
				"operationId": "delete_webhook",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Webhook URL to search by, which will look like `hook_*************`, or the URL of the Webhook (e.g. https://website.com/api/whop-webhook)",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"204": {
						"description": "Successfully deleted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Webhook"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/webhooks": {
			"get": {
				"tags": ["Webhooks"],
				"summary": "List Webhooks",
				"description": "List all Webhook URLs",
				"operationId": "list_webhooks",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "enabled",
						"in": "query",
						"description": "Whether or not the specified Webhook is enabled/turned on for new event notifications",
						"schema": {
							"type": "boolean"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Webhooks",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Webhook"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			},
			"post": {
				"tags": ["Webhooks"],
				"summary": "Create a Webhook",
				"description": "Add a new Webhook URL",
				"operationId": "create_webhook",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/create_webhook"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Create a Webhook",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Webhook"
								}
							}
						}
					}
				},
				"deprecated": false,
				"x-codegen-request-body-name": "create_webhook"
			}
		},
		"/v2/reviews/{id}": {
			"get": {
				"tags": ["Reviews"],
				"summary": "Retrieve a review",
				"description": "Retrieves a specific Review, using its unique ID.",
				"operationId": "retrieve_review",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "id",
						"in": "path",
						"description": "The ID of the Review, which will look like `rev_*************`",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User or Product on the returned Review(s). Pass an array with each object(s) you want to expand, e.g. `[product, user]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "Retrieve a review",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Review"
								}
							}
						}
					}
				},
				"deprecated": false
			}
		},
		"/v2/reviews": {
			"get": {
				"tags": ["Reviews"],
				"summary": "List Reviews",
				"description": "Returns a list of all your reviews. Can be searched by User or by Product",
				"operationId": "list_reviews",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "Your API key, which can be found on the Whop Business Dashboard. You must prepend your key with the word 'Bearer', which will look like `Bearer ***************************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "The page number to retrieve",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 1
						}
					},
					{
						"name": "per",
						"in": "query",
						"description": "The number of resources to return per page. There is a limit of 50 results per page.",
						"schema": {
							"type": "integer",
							"format": "int32",
							"default": 10
						}
					},
					{
						"name": "user_id",
						"in": "query",
						"description": "The ID of the User that made the Review(s), which will look like `user_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The ID of the Product to find Reviews on, which will look like `prod_*************` or `pass_*************`",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "access_pass_id",
						"in": "query",
						"description": "Access Pass has been deprecated for Product. Please use product instead and do not use access_pass.",
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "expand",
						"in": "query",
						"description": "Whether or not to expand the User or Product on the returned Review(s). Pass an array with each object(s) you want to expand, e.g. `[product, user]`",
						"style": "form",
						"explode": false,
						"schema": {
							"type": "array",
							"items": {
								"type": "string",
								"enum": ["product", "user"]
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "List Reviews",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"pagination": {
											"$ref": "#/components/schemas/Pagination"
										},
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/Review"
											}
										}
									}
								}
							}
						}
					}
				},
				"deprecated": false
			}
		}
	},
	"components": {
		"schemas": {
			"Company": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "The ID of the Company, which will look like `biz_*************`"
					},
					"title": {
						"type": "string",
						"description": "The title of the Company"
					},
					"route": {
						"type": "string",
						"description": "The URL route of the company. It will be whop.com/{route}"
					},
					"image_url": {
						"type": "string",
						"description": "The avatar/logo of the Company"
					},
					"hostname": {
						"type": "string",
						"description": "This is the custom domain connected to a Company"
					}
				},
				"description": "Company model"
			},
			"Pagination": {
				"type": "object",
				"properties": {
					"current_page": {
						"type": "integer",
						"description": "The current page of the paginated response",
						"format": "int32"
					},
					"total_page": {
						"type": "integer",
						"description": "The total number of pages in the paginated response",
						"format": "int32"
					},
					"total_count": {
						"type": "integer",
						"description": "The total number of objects in the paginated response (automatically maxed out at 50)",
						"format": "int32"
					}
				},
				"description": "Pagination model"
			},
			"Product": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "The ID of the Product, which will look like `prod_*************` or `pass_*************`"
					},
					"title": {
						"type": "string",
						"description": "The title of the Product"
					},
					"name": {
						"type": "string",
						"description": "The name of the Product"
					},
					"visibility": {
						"type": "string",
						"description": "The visibility of the Product",
						"enum": ["visible", "hidden", "archived", "quick_link"]
					},
					"created_at": {
						"type": "integer",
						"description": "The time at which the Product was created. Measured in seconds since the Unix epoch.",
						"format": "int32"
					},
					"company_id": {
						"type": "string",
						"description": "The ID of the Company this Product is for, which will look like `biz_*************`"
					},
					"experiences": {
						"type": "array",
						"description": "The Experiences that are included in this Product",
						"items": {
							"type": "array"
						}
					},
					"plans": {
						"type": "array",
						"description": "The visible Plans that are included in this Product. Quick links and archived plans will not be included. There is a limit of 10 plans that can be returned for this field.",
						"items": {
							"type": "array"
						}
					}
				},
				"description": "Product model"
			},
			"Experience": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "The ID of the Experience, which will look like `exp_*************`"
					},
					"experience_type": {
						"type": "string",
						"description": "The type of Experience",
						"enum": ["has_interface"]
					},
					"name": {
						"type": "string",
						"description": "The name of the Experience"
					},
					"description": {
						"type": "string",
						"description": "A short description of what the Experience offers"
					},
					"properties": {
						"type": "object",
						"properties": {},
						"description": "The properties of the Experience, used specifically for fields on different Experience types"
					},
					"products": {
						"type": "string",
						"description": "The Products that are connected to this Experience. By default this will just an array of IDs of these Products, but you can expand it to get more information about each Product by passing `[product]` in the `expand` parameter."
					},
					"access_passes": {
						"type": "string"
					}
				},
				"description": "Experience model"
			},
			"AccessPass": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "The ID of the Product, which will look like `prod_*************` or `pass_*************`"
					},
					"title": {
						"type": "string",
						"description": "The title of the Product"
					},
					"name": {
						"type": "string",
						"description": "The name of the Product"
					},
					"visibility": {
						"type": "string",
						"description": "The visibility of the Product",
						"enum": ["visible", "hidden", "archived", "quick_link"]
					},
					"created_at": {
						"type": "integer",
						"description": "The time at which the Product was created. Measured in seconds since the Unix epoch.",
						"format": "int32"
					},
					"company_id": {
						"type": "string",
						"description": "The ID of the Company this Product is for, which will look like `biz_*************`"
					}
				}
			},
			"Plan": {
				"type": "object",
				"properties": {
					"id": {
						"type": "string",
						"description": "The ID of the Plan, which will look like `plan_*************`"
					},
					"company_id": {
						"type": "string",
						"description": "The ID of the Company this Plan is for, which will look like `biz_*************`"
					},
					"product": {
						"type": "string",
						"description": "The Product this Plan is tied to. By default this will just be the ID of the Product, but you can expand it to get more information about the Product by passing `[product]` in the `expand` parameter."
					},
					"plan_type": {
						"type": "string",
						"description": "Whether the Plan is a renewal or one-time purchase"
					},
					"release_method": {
						"type": "string",
						"description": "The method the customer will use to gain access to this Plan's Product"
					},
					"visibility": {
						"type": "string",
						"description": "The level of visibility of the Plan",
						"enum": ["visible", "hidden", "archived", "quick_link"]
					},
					"billing_period": {
						"type": "integer",
						"description": "How often a user will get charged for their membership (if it is a renewal plan), in number of days",
						"format": "int32"
					},
					"internal_notes": {
						"type": "string",
						"description": "A nickname for the Plan set by the company and not visible to the customer"
					},
					"payment_link_description": {
						"type": "string",
						"description": "The description of the Plan as seen by the customer on the checkout page"
					},
					"metadata": {
						"type": "object",
						"properties": {},
						"description": "A polymorphic object containing information that can be user defined"
					},
					"direct_link": {
						"type": "string",
						"description": "A URL that targets a customer on this specific Plan"
					},
					"renewal_price": {
						"type": "number",
						"description": "The price to be charged for each successive billing period",
						"format": "float"
					},
					"initial_price": {
						"type": "number",
						"description": "The price to be initially charged when a user first purchases the Plan",
						"format": "float"
					},
					"base_currency": {
						"type": "string",
						"description": "The base currency"
					},
					"requirements": {
						"type": "object",
						"properties": {},
						"description": "Represents the different restrictions (if any) in place for purchasing the Plan"
					},
					"release_method_settings": {
						"type": "object",
						"properties": {},
						"description": "Configurable settings on how this Plan is released."
					},
					"accepted_payment_methods": {
						"type": "array",
						"description": "An array of payment methods that are currently accepted for this Plan. These are the high-level payment processors that are eligible to be used. This list is dynamically generated based on the plan amount, plan currency, the status of the account's connected payout accounts, and any processor specific enable/disable toggles.",
						"items": {
							"type": "array",
							"enum": [
								"stripe",
								"coinbase",
								"free",
								"paypal",
								"sezzle",
								"splitit",
								"platform_balance",
								"multi_psp"
							]
						}
					},
					"stock": {
						"type": "integer",
						"description": "The amount of stock left in the Plan",
						"format": "int32"
					},
					"unlimited_stock": {
						"type": "boolean",
						"description": "Whether or not the Plan offers unlimited stock"
					},
					"created_at": {
						"type": "integer",
						"description": "The time at which the Plan was created. Measured in seconds since the Unix epoch.",
						"format": "int32"
					},
					"access_pass": {
						"type": "string",
						"description": "Access Pass has been deprecated for Product. Please use product instead and do not use access_pass."
					},
					"card_payments": {
						"type": "boolean",
						"description": "Whether or not card payments are allowed for this plan."
					},
					"custom_fields": {
						"type": "array",
						"description": "An array of Custom Field objects that collect additional information from customers during checkout, commonly used with checkout questions.",
						"items": {
							"$ref": "#/components/schemas/CustomField"
						}
					},
					"description": {
						"type": "string",
						"description": "A short description of the Plan"
					},
					"allow_multiple_quantity": {
						"type": "boolean",
						"description": "Marks whether customers can purchase multiple quantity of the Plan."
					},
					"coinbase_commerce_accepted": {
						"type": "boolean",
						"description": "Whether or not Coinbase Commerce payments are accepted. If disabled, it will never show. If enabled, it will be shown if the purchase meets the correct configuration requirements."
					},
					"splitit_accepted": {
						"type": "boolean",
						"description": "Whether or not Splitit payments are allowed. If disabled, it will never show. If enabled, it will be shown if the purchase meets the correct configuration requirements."
					},
					"platform_balance_accepted": {
						"type": "boolean",
						"description": "Whether or not Platform Balance payments are allowed. If disabled, it will never show. If enabled, it will be shown if the purchase meets the correct configuration requirements."
					},
					"expiration_days": {
						"type": "integer",
[...]
